.main-button {
  border: solid 1px #55198b;
  color: white;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
  background: linear-gradient(to right, #7845e6 0%, #ee2bf1 51%, #576eb7 100%);
  background-size: 200% auto;
  border: 0px;
  border-radius: 50px;
  box-shadow: 0px 6px 20px rgb(60, 25, 255,0.6);
  transition: 0.4s ease-in-out;
  margin: 3vh 20px;
}
.main-button:hover {
  background-color: #ffffff;
  color: black;
  transition: all .3s ease 0s;
  transform: translateY(-3px);
}
.project-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
/* Media Query */
@media (max-width: 768px) {
  .main-button {
    font-size: 15px;
    padding: 12px 18px;
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .main-button {
    font-size: 12px;
  }
}
